table {
  width: 100%;
}

img {
  height: 5rem;
  width: 5rem;
  border-radius: 1rem;
}
*{
  text-align: center;
}
.th-class{
  text-align: center;
}
.login-form {
  max-width: 300px;
}

.login-form-margin {
  margin-bottom: 16px;
}

.login-form-forgot {
  float: right;
}

.login-form-button {
  width: 100%;
}